<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let product of products">
      <div class="card h-100 shadow-sm">

       <img 
  src="https://images.unsplash.com/photo-1592945403244-b3fbafd7f539" 
  class="card-img-top p-3"
  style="height:200px; object-fit:contain;"
>

        <div class="card-body text-center">
          <h5>Luxury Perfume</h5>
          <p class="small">{{ product.title }}</p>
          <p class="text-success"><strong>${{ product.price }}</strong></p>
          <button class="btn btn-primary w-100 mt-2" (click)="addToCart(product)">
  Add to Cart
</button>
        </div>

      </div>
    </div>
  </div>
</div>